<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ucab.tesis.sokoban" android:versionCode="1"
	android:versionName="1.1">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-sdk android:targetSdkVersion="11" />
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".gui.welcomeScreen" android:theme="@style/Theme.Transparent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>
		<activity android:name=".sokoban"
			android:theme="@android:style/Theme.NoTitleBar"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".user.UserPlay"></activity>
		<activity android:name=".gui.SokobanGame"></activity>
		<activity android:name=".user.UserEdit"></activity>
		<activity android:name=".user.UserOptions"></activity>
		<activity android:name=".user.UserLevelsPlayed"></activity>
		<activity android:name=".solver.ViewSolver"></activity>
		<activity android:theme="@android:style/Theme.Dialog"
			android:name=".user.Info"></activity>
	</application>


</manifest> 
